$text-color-not-hover:#e4e4e4;
$text-color:#181818;
$text-color-main:#d6d6d6;
*{
    padding:0;
    margin:0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style-type: none;
}


.header{
    .header-main{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
       
        align-items: center;
        h1{
            margin-top:150px;
        }
        p{
            margin-top:30px;
            width:450px;
            color:$text-color-main;
        }
    }
}
.nav{
    display:flex;
    justify-content: flex-end;
    
    ul{
        
       
    display:flex;
    
    justify-content:flex-end;
    li{
        
        margin-top:50px;
        margin-right:50px;
        text-transform:uppercase;
        a{
            
            color:$text-color-not-hover;
            &:hover{
                color:$text-color;
            }
               
        }
        .first-a{
            color:$text-color;
        }
    }
    
    li:last-child{
        margin-right:200px;
    }
    }
    
}
.main{
    margin-top: 250px;
    display:flex;
    justify-content: space-around;
    
        .first-row{
            display:flex;
            width:250px;
            flex-direction: column;
            h2{
                margin-bottom: 50px;
            }
            blockquote{
                position: relative;
                line-height:2em;
                border-bottom: 1px solid #bbbbbb;
                padding:10px 0;
                margin-bottom:50px;
                p{
                    
                    color:#bbbbbb;
                }
                cite{
                    font-weight: bold;
                    
                }
                &:before{
                    content: "\201c";
                    position: absolute;
                    color:#bbbbbb;
                    font-size: 60px;
                    left:-10%;

                }
            }
        }
}

@media (max-width: 580px) {
    
  .nav>ul{
        display:flex;
        align-items: flex-end;
        
        flex-direction: column;
        li:last-child{
            margin-right:50px;
        }
        
    }
    
    .header{
        .header-main{
            display:flex;
            flex-direction: column;
            justify-content: center;
            
            text-align: center;
           
            align-items: center;
            h1{
                margin-top:150px;
            }
            p{
                margin-top:30px;
                width:250px;
                color:$text-color-main;
            }
        }
    }
   
}