* {
  padding: 0;
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive;
  text-decoration: none;
  list-style-type: none;
}

.header .header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-main h1 {
  margin-top: 150px;
}

.header .header-main p {
  margin-top: 30px;
  width: 450px;
  color: #d6d6d6;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav ul li {
  margin-top: 50px;
  margin-right: 50px;
  text-transform: uppercase;
}

.nav ul li a {
  color: #e4e4e4;
}

.nav ul li a:hover {
  color: #181818;
}

.nav ul li .first-a {
  color: #181818;
}

.nav ul li:last-child {
  margin-right: 160px;
}

.main {
  margin-top: 250px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.main .first-row {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.main .first-row h2 {
  margin-bottom: 50px;
}

.main .first-row blockquote {
  position: relative;
  line-height: 2em;
  border-bottom: 1px solid #bbbbbb;
  padding: 10px 0;
}

.main .first-row blockquote p {
  color: #bbbbbb;
}

.main .first-row blockquote cite {
  font-weight: bold;
}

.main .first-row blockquote:before {
  content: "\201c";
  position: absolute;
  color: #bbbbbb;
  font-size: 60px;
  left: -10%;
}

.main .middle-row {
  margin-bottom: 20px;
}

.main .middle-row img {
  height: 100%;
  width: 100%;
}

.main .three-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .three-row img {
  max-height: 150px;
}

@media (max-width: 580px) {
  .nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav > ul li:last-child {
    margin-right: 50px;
  }
  .header .header-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .header-main h1 {
    margin-top: 150px;
  }
  .header .header-main p {
    margin-top: 30px;
    width: 250px;
    color: #d6d6d6;
  }
}
/*# sourceMappingURL=main.css.map */